/*Bases*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
  /*Backgrounds*/
--briorange: hsl(31, 77%, 52%);
--darkcyan: hsl(184, 100%, 22%);
--vdarkcyan: hsl(179, 100%, 13%);
  /*Paragraphs*/
--transwhite: hsla(0, 0%, 100%, 0.75);
  /*background, headings, buttons*/
--vligray: hsl(0, 0%, 95%);
}
body {
  min-height: 100vh;

  background: var(--vligray);
}

#sedan {background: var(--briorange);color: var(--briorange);}
#suv {background: var(--darkcyan);color: var(--darkcyan);}
#luxury {background: var(--vdarkcyan);color: var(--vdarkcyan);}

#sedan .preview-title:before {content:"Sedans";}
#suv .preview-title:before {content:"Suvs";}
#luxury .preview-title:before {content:"luxury";}

#sedan .preview-img {background-image: url("https://raw.githubusercontent.com/hannyfish/hanny_previewscomponent/f5f960382dc2b8a1c5a0fb4d72ada73c0f4f8d0b/icon-sedans.svg");}
#suv .preview-img {background-image: url("https://raw.githubusercontent.com/hannyfish/hanny_previewscomponent/f5f960382dc2b8a1c5a0fb4d72ada73c0f4f8d0b/icon-suvs.svg");}
#luxury .preview-img {background-image: url("https://raw.githubusercontent.com/hannyfish/hanny_previewscomponent/f5f960382dc2b8a1c5a0fb4d72ada73c0f4f8d0b/icon-luxury.svg");}

/*Mobile - 375px*/
main {
  min-height: 100vh;
  max-width: 400px;
}

#sedan {border-radius: 10px 10px 0 0;}
#luxury {border-radius: 0 0 10px 10px;}

.preview-container {display: flex; width: 90%; flex-direction: column; height: auto;}

.preview-column {width: 90%; height: 28rem; padding: 20px;display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}

  .preview-img {width: 60px; height: 38px; object-fit: cover; background-size: contain; align-self: flex-start;margin-left: 15px;}

  .preview-title {font-family: 'Big Shoulders Display', sans-serif; color: var(--vligray); text-transform: uppercase; font-weight: 700; font-size: 40px; width: 85%; text-align: left;}
  
  .preview-sum {font-family: 'Lexend Deca', sans-serif; font-size: 15px; width: 85%; color: var(--transwhite);}

  .preview-button {width: 70%; background: var(--vligray); font-family: 'Lexend Deca', sans-serif; font-weight: 400; height: 10%; border-radius: 25px;text-align: center; display: grid; place-content: center; align-self: flex-start; margin-left: 15px;}
  .preview-button:before {content: "Learn More"; }

/*Desktop - 1440px*/
@media screen and (min-width: 900px) {
  main {
    min-width: 900px;
    min-height: 50vh;
    margin: 0 auto;
  }
  
  #sedan {border-radius: 10px 0 0 10px;}
#luxury {border-radius: 0 10px 10px 0;}
  
 .preview-container {flex-direction: row;}
  
  .preview-column {width: 32%; height: 28rem;}
  
}